/* Root name: R_select*/
/* ---Bottom right button for adding a new board---*/
#addBoard {
    transition: all 1s;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 75px;
    height: 75px;
    background-image: linear-gradient(to right bottom, #189 0%, #23a 100%);
    border-radius: calc(75px / 2);
    border-color: white;
    border-width: 4px;
    border-style: solid;
    overflow: clip;
    z-index: 0;
    box-shadow: 6px 6px 0px #0003; 
}
#addBoard:focus-within, #addBoard:hover {
    border-radius: 10px;
    border-width: 4px;
    width: min(500px, 94%);
    height: 150px;
    border-color: #fff5;
}
#addBoard #offHover {
    transition: all 1s;
    font-size: 75px;
    right: 7px;
    bottom: -7px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: absolute;
    color: #fff;
    text-shadow: 0px 0px 0px #000F;
}
#addBoard:focus-within #offHover, #addBoard:hover #offHover {
    color: #ffff;
    font-size: 150px;
    opacity: 1;
    text-shadow: 5px 5px 3px #0005;
}
#addBoard #onHover{
    transition: all 1s;
    opacity: 0;
    position: absolute;
    width: max(300px, calc(100% - 120px));
    margin: 0px 5px;
    padding: 5px;
    overflow: clip;
}
#addBoard:focus-within #onHover, #addBoard:hover #onHover {
    opacity: 1;
}
#R_select input {
    background-color: #0000;
}
#new_isOffline, #offline_label{
    display: inline;
}
#new_title {
    border: #000 none 0px;
    height: 20px;
    font-size: 18px;
    margin: 4px 0px;
}
#addHeader {
    margin: 0px;
}
#R_select h1 {
    font-size: 30px;
    border-bottom: 2px solid white;
}
#R_select .boardCard {
    transition: all 0.25s ease-out;
    position: relative;
    background-image: #832;
    margin: 10px;
    padding: 10px;
    width: 200px;
    height: 200px;
    display: inline-block;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 5px;
    border: 2px outset #f77;
    box-shadow: 3px 4px 0px #0003;
}
#R_select .boardCard:hover {
    transform: scale(1.1);
    border: 3.5px solid #7f7;
    box-shadow: 5px 7px 5px #0005;
}
#boardSelect {
    z-index: 0;
    padding: 15px;
    margin: 20px;
    background-image: linear-gradient(to right bottom, #836 0%, #43a 100%);
    border-radius: 15px;
    box-shadow: 3px 3px 10px #0004;
    outline: 4px solid #3335;
    outline-offset: -4px;
}
#R_select .boardCard h3 {
    font-weight: 600;
    white-space: nowrap;
}
#R_select .boardCard h3 span {
    position: relative;
    right: 0px;
    font-family: Barlow;
}
#R_select .cardAttr {
    /* background-image: linear-gradient(to bottom right,#0000 50%, #000);*/
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding-right: 10px;
}
#header {
    text-align: center;
    font-weight: 200;
}