:root {
    --item-bg: #339
}
#hint {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: calc(2vh + 2vw);
    overflow: visible;
    white-space: nowrap;
    user-select: none;
    opacity: 0.1;
    
}
#selectionPopup {
    background-color: gray;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 35vw;
    height: 30vh;
    transform: translate(-50%, -50%);
    background-color: grey;
    border-radius: 5px;
    border: 1px white solid;
    box-shadow: 5px 5px 1px #0003;
    margin: 0px;
}
#selectInput {
    transition: background-color 1s;
    background-color: transparent;
    width: 100%;
    height: 22px;
    border-width: 0px;
    border-bottom: 2px #fff solid;
    padding: 7px;
    font-family: monospace;
    font-weight: 600;
    font-size: 17px;
    text-shadow: 2px 2px 0.5px #0005;
}
#selectInput:focus {
    outline: none;
    background-color: darkcyan;
}
#selectItem {
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100% - 24px);
}
#selectItem div {
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 4px;
    overflow-x: hidden;
    white-space: nowrap;
    transition: all 0.5s;
}

#selectItem div:nth-child(odd){
    background-color: #666;
}
#selectItem div:hover, #selectItem div:focus {
    background-color: #fff;
    color: #004;
    font-weight: 700;
    overflow-x: visible;
}
#selectItem div span{
    background-color: #333;
    border-radius: 5px;
    padding: 2px;
    font-family: monospace;
}
#focusLevel{
    position: fixed;
    font-family: monospace;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 33vw;
    padding: 4px;
    font-size: 20px;
    background-color: darkblue;
}
#center{
    position: fixed;
    top: 50%;
    left: 50%;
}
#itemContainer {
    position: absolute;
    overflow: visible;
    
}
#fullscreen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    cursor:move;
    background-image: radial-gradient(#0000 90%, #fff1 90%);
    background-size: 50px 50px;
    background-repeat: repeat;
    background-origin: content-box;
    background-color: #0000;
    opacity: 0;
    border-width: 0px;
    color:#0000;
    padding: 12px;
    z-index: -9999;
    transition: opacity 0.5s;
    resize: none;
}
#fullscreen:hover {
    opacity: 1;
}