/* Root name: R_select*/
/* ---Bottom right button for adding a new board---*/
#addBoard {
    transition: all 1s;
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 75px;
    height: 75px;
    background-image: linear-gradient(to right bottom, #109499 0%, #2234ad 100%);
    border-radius: calc(75px / 2);
    border-color: white;
    border-width: 5px;
    border-style: solid;
    overflow: clip;
    z-index: 0;
    box-shadow: 6px 6px 0px #0008;
}
#addBoard:focus-within, #addBoard:hover {
    border-radius: 10px;
    border-width: 2px;
    width: 500px;
    height: 150px;
    
}
#addBoard #offHover {
    transition: all 1s;
    font-size: 75px;
    right: 10px;
    bottom: -10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: absolute;
    color: #fff;
    text-shadow: 0px 0px 0px #000F;
}
#addBoard:focus-within #offHover, #addBoard:hover #offHover {
    color: #ffff;
    font-size: 150px;
    opacity: 1;
    text-shadow: 5px 5px 3px #0005;
}
#addBoard #onHover{
    transition: all 1s;
    opacity: 0;
    position: absolute;
    height: 150px;
    margin: 10px;
    overflow: clip;
    white-space: nowrap;
}
#addBoard:focus-within #onHover, #addBoard:hover #onHover {
    opacity: 1;
}

#R_select input {
    background-color: #0000;
}

#new_title {
    border: #000 none 0px;
}

#addHeader {
    margin: 0px;
}
#R_select h1 {
    font-size: 30px;
    border-bottom: 2px solid white;
}
#R_select .boardCard {
    transition: all 1s;
    position: relative;
    background-color: black;
    margin: 10px;
    width: 200px;
    height: 200px;
    display: inline-block;
    box-sizing: border-box;
    overflow: 'hidden';
    border: 2px solid grey
}
#R_select .boardCard:hover {
    transform: scale(1.1);
    border: 5px solid cyan;
}
#boardSelect {
    padding: 10px
}