/* Root name: R_home */
#banner {
    width: 100%;
    height: 200px;
    background-color: #111;
    position: relative;
    z-index: -1;
}
#bannerText { 
    vertical-align: center; 
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}
#bannerImg {
    width: 200px;
    height: 200px;
}
#R_home footer {
    position: relative;
    background-color: #002;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px;
    padding-top: 10px;
    min-height: 200px;
}
#R_home footer p{
    width: 250px;
    height: 18px;
    font-size: 18px;
    padding: 10px;
    margin: 5px 0px;
    text-align: center;
}
#R_home footer p a {
    font-family: monospace;
}
#R_home footer div {
    transition-property: color letter-spacing font-weight border-color text-shadow;
    transition-duration: 0.35s;
    position:relative;
    text-align: center;
    text-transform: uppercase;
    top: 7px;
    font-family: monospace;
    font-size: 15px;
    color: #aaa;
    border-bottom: 2px solid #aaa;
    width: 90%;
}
#R_home footer:hover div {
    color: #2af;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 2px;
    border-color: #2af;
    text-shadow: 1.5px 1.5px 1px #2af8;
}
#R_home .ptBlock {
    position: relative;
    height: 350px;
    padding: 50px;
}
.ptBlock > div 
{ 
    width: 50%;
    height: 100%;
    display: block;
    position: absolute;
}
.ptBlock > div:nth-child(1) {
    left: 0px;
    top: 0px;
    margin:0px;
}
.ptBlock > div:nth-child(2) {
    left:50%;
    top:0px;
    margin: 0px;
}
.ptText {
    margin: 0px;
    padding: 6vw;
    padding-top: 100px;
    font-size: 20px;
}
.pretendImg {
    position: absolute;
    border: 10px solid #444;
    width: 200px;
    height: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #777;
    text-align: center;
    padding: 50px 0px;
    color: #afe;
    font-size: 30px;
    box-sizing: border-box;
}
#R_home h3{
    font-size: 30px;
}
#thirdAlterText {
    position: absolute;
    transform:  translate(-30px, -20px) rotate(-15deg)scale(0.8);
    text-decoration: line-through;
    z-index: -20;
    color: #faa9;
}