/* Root name: R_login*/

#R_login{
    margin-top: 2%;
    margin-left: 2%;
}
#R_login input {
    transition: all 0.5s;
    background-color:  #555;
    box-shadow: 5px 5px 0px #0004;
    border: 0px solid white;
    padding: 10px;
    font-size: 15px;
    width: min(500px,75%);
    margin: 10px 0px;
    margin-right: 20px;
    border-radius: 6px;
}
#R_login input:hover{
    background-color: #333;
}
#R_login input:disabled {background-color: #0002;}
#R_login input:not(:placeholder-shown):invalid, #R_login input.warn
{ 
    margin: 8px 0px;
    margin-right: 18px;
    border: 4px solid red;
    border-radius: 0px;
    box-shadow: 5px 5px 0px #300;
    background-color: #600;
}
#R_login #forgot_pass {
    width: min(250px,37.5%);
}
#R_login #show_pass {
    position: relative;
    transition: border 0.5s;
    border: 2px solid #a20;
    border-radius: 5px;
    padding: 7px;
    top: 2px;
    user-select: none;
    font-weight: 700;
    text-shadow: 3px 3px 0px #000;
}
#R_login #show_pass.shown {
    border: 2px dashed #07ab;
    border-spacing: 10px;
}
#R_login #message {
    transition: border 0.5s, background-color 0.5s;
    background-color: #15a;
    width: min(500px, 75%);
    padding: 15px;
    border: 3px solid #27a;
    font-size: 15px;
    font-weight: 600;
    box-shadow: 5px 5px 0px #0004;
    margin: 10px 0px;
}
#R_login #message.warn {
    background-color: #600;
    border: 3px solid #a20;
}
#R_login .warn {
    color: #f31;
    font-weight: 600;
}
#R_login #container {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    height: 500px;
    width: 80%;
    border-top: 2px solid #fff;
}
#R_login #form_block, #R_login #correction_block{
    position: absolute;
    width: 100%;
    margin-top: 20px;
    margin-left: 5px;
}
#R_login .up {
    animation: MoveForm 1s ease-in-out forwards;
}
#R_login .down {
    animation: MoveCorrection 1s ease-in-out forwards;
}
#R_login #header {
    font-size: 40px;
    padding-bottom: 10px;
    width: 80%;
}
#R_login #inform_await {
    margin: 20px 0px;
}
#R_login #progress_bar {
    height: 4px;
    margin: 10px 0px;
    background-color: #fff;
    width: 40%;
    overflow: hidden;
}
#R_login #progress_bar_fill {
    position: relative;
    background-color: #0d0;
    width: 50%;
    height: 100%;
    animation: ProgressBar 1s ease-in-out infinite;
}
@keyframes ProgressBar {
    from {
        left: -50%;
    }
    to {
        left: 100%
    }
}
@keyframes MoveForm {
    from {
        top: 0px;
    }
    to{
        top: -500px;
        display: none;
    }
}
@keyframes MoveCorrection {
    from {
        top: -500px;
    }
    to{
        top: 0px;
    }
}