/*General styling for all item types*/
.dragwrapper{
    position: absolute;
}
.item{
    transition: outline 0.5s, box-shadow 0.5s;
    border-radius: 5px;
    outline: 0.5px solid #0003;
    box-shadow: 7px 7px 0px #0003;
    font-size: 14px;
    background-color: var(--item-bg);
    border: 2px solid #0003;
}

.item:hover{
    outline-width: 5px;
    outline-color: #fff3;
    box-shadow: 10px 10px 0px #0003;
}
#itemContainer {
    --item-bg: rgb(39, 129, 84);
}
.item input, .item textarea {
    border: 0px solid #000;
    outline: none;
    font-size: 14px;
    background-color: transparent;
}
/* Delete button styling*/
.deleteItem{
    transition: scale 0.25s;
    position: absolute;
    top: -8px;
    right: -8px;
    border-radius: 50%;
    border: 10px double #aa2222;
    width: 20px;
    height: 20px;
    scale: 0;
    z-index: 0;
    outline: none;
}
.dragwrapper:hover .deleteItem, .deleteItem:focus-within{
    scale: 1;
}
.deleteItem .textbox {
    transition: width 0.35s;
    width: 0px;
    position: absolute;
    top: -7.5px;
    left: 7px;
    height: 15px;
    font-size: 12px;
    overflow: hidden;
}
.deleteItem:hover .textbox, .deleteItem:focus-within .textbox{
    width: 80px;
}
.deleteItem .textbox span {
    position: absolute;
    padding-left: 5px;
    color:#f33;
    z-index: -20;
}
.deleteItem .textbox div span{
    width: 80px;
    background-color: red;
    text-shadow: 2px 2px 0px#000f;
    color: white;
    z-index: -10;
    font-weight: 800;
    animation: deleteTextShake 0.1s linear infinite;
}
.deleteItem .textbox div {
    display: none;
    width: 0%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: -1px;
    width: 80px;
}
.deleteItem.activate .textbox div {
    display: block;
    animation: deleteActivate 0.75s linear forwards;
}
@keyframes deleteTextShake {
    0%{left:1px; top: -1px;}
    50%{left:-1px}
    80%{top:-3px;}
    100%{left:1px}    
}
@keyframes deleteActivate {
    0%{width: 0%;}
    100%{width: 100%;}
}