/*Styling for a 'page'*/
.i_page {
    resize: both;
    overflow: hidden;
    height: 300px;
    width: 300px;
    min-width: 150px;
    min-height: 150px;
}
.i_page .title, .i_page .body{
border-width: 0px;
}
.i_page .title{
    position: relative; 
    width: 100%; 
    height: 25px; 
    resize:none; 
    white-space: nowrap; 
    overflow:hidden;
    text-align: center;
    font-size: 16px;
    margin: 4px 0px;
    
}
.i_page .body{
    width: 100%;
    height: calc(100% - 25px); 
    resize: none;
    padding: 4px 8px;
    border-top: 2px #0003 solid ;
}
