/*Styling for a 'page'*/
.i_page {
    resize: both;
    overflow: hidden;
}
.i_page .title{
    position: relative; 
    width: 100%; 
    height: 20px; 
    resize:none; 
    white-space: nowrap; 
    overflow:hidden;
    text-align: center;
}
.i_page .body{
    width: 100%;
    height: calc(100% - 20px); 
    resize: none;
    padding: 3px;
}
.i_page .title, .i_page .body{
border-width: 0px;

}