/* Root name: R_login*/
#header
{
    font-size: 40px;
    border-bottom: white solid 2px;
    padding-bottom: 10px;
    width: 80%;
}

#R_login body h2,#R_login body form {
    margin-left:5%;
}
#R_login input {
    transition: background-color 0.25s;
    background-color:  #555;
    box-shadow: 5px 5px 2px black;
    border: 0px;
    padding: 10px;
    font-size: 15px;
    width: 500px;
    margin: 10px 0px;
    margin-right: 20px;
    border-radius: 6px;
}
#R_login input:hover{
    background-color: #333;
}
#R_login input:disabled {background-color: #0002;}
#R_login input:not(:placeholder-shown):invalid{ border: 2px solid red;}