/* Default CSS to apply to all pages */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
svg {
  fill: #fff;
}
/*Navbar styling*/
nav {
  background-color: #0002;
  position: sticky;
  top:0px;
  height: 40px;
  width:calc(100%);
  margin:0px;
  padding:0px 5px;
  border-bottom: white solid 0px;
  padding-right: 150px; /*Space for the user modal*/
}
nav #links {
  padding: 4px 0px;
}
nav #links a {
  transition: all 0.5s;
  margin: 0px 15px;
  text-decoration: none;
  font-size: 22px;
  font-weight: 350;
}
nav #links a:hover {
  border-bottom: 1px solid;
  color: #fb2;
  font-weight: 600;
}
nav img { display:inline-block; width: 1em; height: 1em}
#userModal {
  text-align: right;
  font-size: 12px;
  float: right;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 200px;
  height: 100%;
  padding: 5px;
  z-index: 10;
}
#userModal div {
  right: 10px;
}
#greeting {
  position:absolute;
  top: 0%;
}
#user_name {
  position: absolute;
  font-size: 18px;
  bottom: 0%;
}
#pfp {
  position: absolute;
  top: 5px;
  right: 25px;
}
#user_settings{
  position: absolute;
  bottom: 0px;
  top: 100%;
  left: 0px;
  right: 0px 
}
#user_settings_inner{
  transition-duration: 1s;
  transition-property: background-color height;
  height: 15px;
  border-bottom-left-radius: 10px;
  /* border: 2px solid white; /**/
  border-right: 0px solid white;/* Hides right side border*/
  border-top: 0px;
  overflow: hidden;
  box-shadow: 10px 10px 0px #0006;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #495F;
  z-index: 0;
}
#userModal:hover #user_settings_inner{
  height: 50vh;    
  /* background-color: #537594; */
  /* border-top: 1px solid; /**/
}
#foldout_icon {
  transition: text-shadow 0.8s, transform 0.8s, top 0.8s;
  position: absolute;
  text-align: center;
  left: 50%;
  transform: rotateX(180deg) scaleX(2);
  top: -10px; 
  font-weight: 500;
  font-size: 25px;
}
#userModal:hover #foldout_icon{
  top: calc(50vh);
  transform: rotateX(180deg) scaleX(2) scale(3);
}
#quick_options {
  transition: all 1s;
  opacity: 0;

}
#userModal:hover #quick_options{
  opacity: 100;
}
/*'Default' CSS. Since it can break some things, CSS is not automatically applied without the class name*/
input.default {
  position: relative;
  background-color: #555;
  border: 0px solid #000;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  width: 80%;
  font-weight: 600;
}