/* Default CSS to apply to all pages */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input:not([type="checkbox"]) {
  position: relative;
  background-color: #555;
  border: 0px solid #000;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  width: 80%;
  font-weight: 600;
}