
/*Here should lie all 'reset' CSS*/
:root{
    --main-bg-color: #20252e;
    --other-color: #022b77;
    --temp: #201a3c;
}
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
*::-webkit-input-placeholder {
    color: #fff;
    opacity: 0.4;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #fff;
    opacity: 0.4;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #fff;
    opacity: 0.4;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #fff;
    opacity: 0.4;
}
*::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #fff;
    opacity: 0.4;
}
*::placeholder {
    /* modern browser */
    color: #fff;
    opacity: 0.4;
}
body {
    background-color: var(--main-bg-color);
    margin: 0px;
    padding: 0px;
    /*overflow-x: auto; /* hehe i got tired of finding the little nitpicks */
}
