
:root{
    --main-bg-color: #16202e;
    --other-color: #022b77;
    --temp: #201a3c;
}
* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    background-color: var(--main-bg-color);
    margin: 0px;
    padding: 0px;
}
/*Navbar styling*/
nav {
    background-color: var(--other-color);
    position: sticky;
    top:0px;
    width:calc(100%);
    margin:0px;
    padding:0px 5px;
    padding-top: 5px;
    border-bottom: white solid 2px;
}
nav img {vertical-align:super; display:inline-block; width: 40px; height: 40px}
nav a {
    vertical-align:super;
    display: inline-block;
    padding: 0px 10px;
    font-size: x-large; 
    text-decoration: none;
    position: relative;
    bottom: 8px;
}
nav span {margin: 0px 10px; }
#userModal {
    float: right;
    position: relative;
    top: 5px;
    right: 5px;
}